body {
    font-size: large;
}

/* Шапка */
/* Невидимая кнопка для изменения появления меню при нажатии */
header input {
    display: block;
    /* opacity: 0.5; */
    right: 0;

    width: 50px;
    height: 60px;

    cursor: pointer;
}

.nav-toggle {
    display: block;
    margin-right: 10px;

    max-width: 100%;
    visibility: visible;
}

.nav-toggle > span {
    transition: transform .6s ease-out;
}

/* Анимация при нажатии на кнопку */
header input:checked ~ .nav-toggle > span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px) scale(1.2, 1.2);
}

header input:checked ~ .nav-toggle > span::before
{
  opacity: 1;
  transform: rotate(-90deg) translate(-10px, -0.5px);
}

header input:checked ~ .nav-toggle > span:after
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

header input:checked ~ #menu
{
    transform: none;
}

#menu {
    width: 100%;
    position: absolute;
    right: 0;
    top: 65px;

    background-color: #0091ff;

    transform: translate(100%, 0);
    transition: transform .7s ease-in-out;
}

#menu ul {
    flex-direction: column;
}

#menu li {
    width: 100%;
}

#menu li:hover {
    background-color: #5bb8ff;
}

/* Основной блок */
main {
    flex-direction: column;
    /* border: solid; */
}

main .content, aside {
    width: 100%;
}

#kolyma {
    float: none;
    margin: 0 auto;
}

/* Галерея */
#galery article:hover {
    /* transform: none; */
}

#galery article:active {
    /* transform: rotate(-5deg) scale(0.95); */
}

#galery figcaption {
    font-size: 14pt;
}

#galery p {
    font-size: 10pt;
}


@media (max-width: 945px) {
    #galery img {
        width: 220px;
        height: 150px;;
    }
}
