/* Задаём новый шрифт */
@font-face {
    font-family: 'Lobster';
    src: local('Lobster'),
    url(/fonts/Lobster-Regular.ttf);
}

/* Свойства всего сайта */
body {
    background-color: #beffff;
    margin: 0;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14pt;

    width: 100%;
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: dense;
}

h1, h2, h3 {
    font-family: 'Lobster';
}

/* Смещение якоря */
.anchor {
    border-top: 110px solid transparent;
    margin-top: -110px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

h2 {
    color: #0154da;
    margin: 0 0 4px;
}

h3 {
    color: #00a2ff;
    margin: 0 0 4px;
}

/* Шапка */
header {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;

    background: linear-gradient(90deg, #0062ff 0%, #00f09e 100%);

    z-index: 100;

    > #logo {
        min-width: 200px;
        padding: 8px 10px 8px;
    
        > * {
            display: inline;
            vertical-align: middle;
        }
    
        > h1 {
            color: aliceblue;
        }
    }

    > #menu {
        flex-grow: 1;
        /* background-color: #0091ff; */
    
        > ul {
            height: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin: 0px;
            padding-left: 0px;
    
            > li {
                flex-grow: 1;
                list-style: none;
                text-align: center;
                border-radius: 10px;
            
                transition: background-color .5s;
    
                > a {
                    display: block;
                    text-decoration: none;
                    
                    padding-top: 22px;
                    padding-bottom: 22px;
                    color: antiquewhite;
                }
            }
    
            > li:hover {
                background-color: #00a2ff;
            }
    
            > li:active {
                background-color: #29adfa;
            }
        }
    }

    > .wishlist-btn {
        display: block;
        position: relative;
        /* height: 100%; */
        
        margin: auto;
        margin-right: 10px;
    
        > img {
            width: 30px;
            height: 30px;
            filter: invert();
            user-select: none;
        }
    }

    > .wishlist-btn::after {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: -7px;
        right: -7px;
        content: attr(count);
        text-align: center;
        color: white;
        background-color: red;
    }
}

.nav-toggle {
    display: none;
    max-width: 0;
    position: relative;

    width: 40px;

    /* Кнопка */
    > input {
        position: absolute;
        opacity: 0;
    
        width: 100%;
        height: 90%;
        cursor: pointer;
    
        z-index: 1;
    }

    > span {
        display: block;
        position: absolute;
        top: 31px;
        left: 8px;
        right: 3px;
        height: 3px;
        background: white;
    
        border-radius: 6px;
     }

     > span:before, > span:after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        background: white;
    
        border-radius: 6px;
     }

     > span:before {
        top: -10px;
     }

     > span:after {
        bottom: -10px;
     }
}



/* Основа */
main {
    min-height: 80vh;

    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;

    padding-top: 70px;

    .like {
        padding: 3px;
        background-color: lightgray;
        color: black;
        border-radius: 10px;
        cursor: pointer;
    }
}

main > .content {
    /* width: auto; */
    flex-grow: 1;
}

main section {
    padding: 10px;
    margin: 10px;
    background-color: #e3e3e3;
    border-radius: 20px;
    border: solid black 2px;
}

main article {
    padding: 10px;
    margin: 5px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

main nav {
    margin-inline: 10px;
    text-align: center;
}

main nav a {
    padding: 4px;
    /* border: solid 2px; */
    border-radius: 10px;
    background-color: #b0ffff;
    text-decoration: none;
    color: #0154da;
    font-family: 'Lobster'
}

main nav a:hover {
    background-color: #96ffff;
}

main nav a:active {
    background-color: #a8a8a8;
}

.videos, #map {
    margin-inline: 0;
    text-align: center;
}

#my_video {
    position: relative;
    margin: auto;
    width: 60%;
    min-width: 400px;
    --video-padding: 20px;
    padding: var(--video-padding);
    border-radius: 10px;
    background-color: #030022;

    > video {
        width: 100%;
    }
}

#my_video::before {
    position: absolute;
    bottom: 4px;
    left: 5%;
    width: 90%;
    height: 2em;
    opacity: 0;
    border: solid 1px white;
    /* margin-inline: 20%; */

    background-color: #00000072;

    content: "Река Дон. На рыбалке.";

    color: white;
    transition: opacity 300ms;
}

#my_video:hover::before {
    opacity: 1;
}

#my_video::before::after {
    content: "текст текст текст";
    font-size: large;
}

iframe {
    max-width: 100%;
}

/* Галерея */
#galery {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */

    > h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    
    > .pictures {
        /* width: 80%; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 5px;

        #Don {
            grid-column: 1 / 4;
        }
        #Volga {
            grid-column: 4 / 5;
            grid-row: 1 / 3;
        }
        #HuangHe {
            grid-column: 1 / 2;
            grid-row: 2 / 4;
        }
        #Amazonka {
            grid-area: 2 / 3 / 2 / 3;
        }
        #Missisipi {
            grid-column: 2 / 4;
            grid-row: 3 / 4;
        }
        #Ind {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        #Ind {
            grid-column: -2 / -1;
            grid-row: -2 / -1;
        }

        > figure {
            position: relative;
            margin: 0;
            max-width: 100%;
            text-align: center;
        
            cursor: zoom-in;

            transition: all .5s;

            > img {
                position: relative;
                /* max-width: 100%; */
                width: 100%;
                height: 100%;

                z-index: 1;
            }

            > figcaption {
                position: absolute;
                display: block;
                text-align: center;
                width: 100%;
                bottom: 0;
                font-family: 'Lobster';
                /* font-size: 18pt; */
                font-size: 15pt;

                z-index: 1;

                background: linear-gradient(0deg, #00a2ff 0%, #00a2ff 20%, #00a2ff00 100%);
                padding-top: 30px;

                opacity: 0;
                transition: opacity .5s;
            }

            > p {
                position: absolute;
                visibility: hidden;
                font-size: 10pt;
            }

            > .like-btn {
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
                top: 2px;
                left: 2px;
                background-color: #9c9b9bcc;
                color: white;

                z-index: 1;
                opacity: 0;
                transition: opacity .5s, background-color .2s;

                > img {
                    position: absolute;
                    top: 25%;
                    left: 25%;
                    width: 20px;
                    height: 20px;
                    transition: all .5s;
                }
            }
            > .like-btn:hover {
                background-color: #ffc0cbd8 !important;
            }
        }

        > figure:hover {
            transform: scale(1.1);
            z-index: 2;

            > figcaption, > .like-btn, > .more-btn {
                opacity: 1;
            }
        } 
    }
}



/* Дон (анимация 1) */
/* #Don, img {
    transition: all 450ms;
}

#Don:hover {
    background-color: deepskyblue;
}

#Don:hover img {
    transform: translateY(-70%);
}

#Don p {
    top: calc(30% - 10px);
} */

/* Волга (анимация 2) */
/* #Volga, #Volga p {
    transition: all 450ms;
}

#Volga p {
    display: block;
    padding-top: 30%;
    max-height: fit-content;
    opacity: 0;

    bottom: 14px;
    z-index: 1;

    background: linear-gradient(0deg, 
                                #04ff00e5 0%,
                                #04ff0098 55%,
                                #00000000 100%);

    
}

#Volga:hover {
    background-color: #04ff00;
}

#Volga:hover p {
    opacity: 1;
} */

/* Хуанхэ (анимация 3) */
/* #HuangHe, img {
    transition: all 400ms;
}

#HuangHe:hover img {
    transform-origin: 100% 0;
    transform: rotateX(90deg);
}

#HuangHe:hover {
    background-color: yellow;
}

#HuangHe p {
    top: -5px;
} */

/* Блок с неважной информацией */
aside {
    /* width: 160px;
    flex-grow: 1; */
    padding-top: 70px;
    text-align: center;
    background-color: antiquewhite;

    > section {
        background-color: #a8a8a8;
        border-radius: 15px;
        margin: 10px;

        > p {
            margin: 0px;
        }
    }
}

#kolyma {
    float: left;
    border: solid black;
    border-radius: 7px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 10px;
    background-color: #76cdff ;
    text-align: center;
    max-width: 420px;
}

#kolyma img {
    padding: 5px 5px 0px 5px;
    max-width: 95%;
}

blockquote {
    background-color:  #0cdf0c;
    padding: 5px;
    border-radius: 5px;
}

/* Блок уведомлений */
#notification {
    position: fixed;
    right: 5px;
    bottom: 10px;
    background: #0154da;
    border: #002200 2px solid;
    border-radius: 100%;
    padding: 10px;
    z-index: 1;

    > ol {
        visibility: hidden;
        position: absolute;
        bottom: -1000px;
        right: -1000px;
        list-style: none;
        padding: 0;
        counter-reset: notifications_count;

        > li {
            counter-increment: notifications_count;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 20px;
            background: #96ffff;
            transition: all 400ms;
            width: 300px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;


            > a {
                text-align: center;
                width: inherit;
                position: relative;
                bottom: 10px;
                margin-left: 30px;
            }


            > a::before {
                color: white;
                content: counter(notifications_count);
                position: relative;
                top: 20px;
                right: 30px;
                background: #00a6c0;
                text-align: center;
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                box-shadow: 2px 2px 4px black;
                padding: 2px;
            }
        }

        > li:hover {
            background: #00a6c0;
            color: white;
            /*border: #002200 1px solid;*/
            box-shadow: 3px 3px 5px black;
            transform: scale(1.1);

            ::before {
                background: #96ffff;
                color: black;
            }
        }
    }
}

@keyframes anim {
    from {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
    99% {
        width: 330px;
        height: 400px;
        border-radius: 20px;
    }
    to {
    }
}

#notification:hover {
    animation-name: anim;
    animation-duration: 300ms;
    animation-timing-function: ease-in;

    border-radius: 20px;

    > ol {
        visibility: visible;
        position: static;
    }
}

#notification_menu_sym::before {
    content: "\1F514";
    color: white;
}

#notification_menu_sym::after {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    content: "4";
    border-radius: 50%;
    border: #002200 2px solid;
    background: red;
}

/* Подвал */
footer {
    /* width: 100%; */
    grid-column: 1 / -1;

    background-color: #0062ff;
    color: aliceblue;
    /* text-align: center; */
    padding-top: 15px;

    > .shell {
        margin-inline: 50px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: auto 150px auto;
        gap: 30px;

        .title {
            color: aliceblue;
            text-decoration: underline;
        }

        > .links > ul {
            padding-left: 0px;
            list-style: none;
        }
    }

    > span {
        display: block;
        padding: 5px 0 5px 0;
        width: 100%;
        text-align: center;
        background-color: #0154da;
    }

    & a:not(.fa)  {
        display: block;
        width: fit-content;
        color: aqua;
        text-decoration: none;
        transition: all 0.3s;
    }

    & a:not(.fa):hover {
        color: white;
        text-decoration: underline;
        transform: translateX(10px);
    }
    
    & p , & ul {
        margin-top: 0;
        margin-bottom: 5px;
    }

    & address {
        > .icon-block {
            display: grid;
            grid-template-columns: 25px auto;
            margin-bottom: 10px;

            > .tel-numbers {
                display: flex;
                flex-flow: column;
            }
        }
    }
}

/* Блок с кнопками соц. сетей */
#social_media {
    display: flex;
    justify-content: left;
    gap: 20px;

    padding: 5px 0;

    & .soc_button {
        position: relative;
    
        border-radius: 50%;
        background: #404040;
        box-shadow: 2px 2px 10px black;
    
        z-index: 0;
        overflow: hidden;
    }

    > .soc_button .fa {
        padding: 10px;
        font-size: 25px;
        width: 25px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    
        color: white;
    }

    > .soc_button::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -100%;
        
        border-radius: 50%;
        z-index: -1;
        transition: all 300ms;
    }

    > .soc_button:hover::before {
        transform: translateY(100%);
    }

    > .soc_button:active::before {
        opacity: 0.7;
    }

    > .youtube::before {
        background: radial-gradient(at 0% 0%, rgba(255,0,0,1) 0%, rgb(92, 0, 0) 100%);
    }

    > .telegram::before {
        background: radial-gradient(at 0% 0%, rgb(0, 247, 255) 0%, rgb(0, 136, 255) 100%);
    }

    > .vk::before {
        background: radial-gradient(at 0% 0%, rgb(0, 179, 255) 0%, rgb(0, 85, 255) 100%);
    }
}

/* Блок входа */
#sign-in-block {
    --bg-color: #3d5a8f94;
    position: relative;
    grid-column: 1 / -1;

    > span {
        content: "";
        position: absolute;
    
        display: block;
        border-radius: 15px;
    
        border-radius: 20px;
        padding: 5px;
        
        background-color: var(--bg-color);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    > span:nth-child(1) {
        --size: 40px;
        width: var(--size);
        height: var(--size);
        top: calc(50%);
        left: calc(50% - var(--size) / 2 - 150px);
    
        z-index: -1;
    
        animation: move-squares 7s infinite ease-in-out -700ms alternate;
    }
    > span:nth-child(2) {
        --size: 60px;
        width: var(--size);
        height: var(--size);
        top: calc(50% + 55px - var(--size) / 2 + 20px);
        left: calc(50% - var(--size) / 2 + 190px);
    
        z-index: 1;
    
        animation: move-squares 9s infinite ease-in-out -300ms alternate-reverse;
    }
    > span:nth-child(3) {
        --size: 50px;
        width: var(--size);
        height: var(--size);
        top: calc(50% + 55px - var(--size) / 2 + 135px);
        left: calc(50%);
    
        z-index: 1;
    
        animation: move-squares 7s infinite ease-in-out -500ms alternate-reverse;
    }
    > span:nth-child(4) {
        --size: 45px;
        width: var(--size);
        height: var(--size);
        top: calc(50% + 55px - var(--size) / 2 - 150px);
        left: calc(50% - var(--size) / 2 - 50px);
    
        z-index: -1;
    
        animation: move-squares 10s infinite ease-in-out 0s alternate;
    }

    > .pane {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        gap: 10px;
    
        margin: auto;
        margin-top: 60px;
        padding: 30px;
        border-radius: 20px;
        
        background-color: var(--bg-color);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    
        > h2 {
            color: white;
            text-decoration: underline;
        }
    
        > input {
            border: none;
            border-radius: 20px;
            padding: 5px;
            padding-left: 1em;
        }
    
        > button {
            background-color: #00a2ff;
            color: white;
            box-shadow: 0 6px #515151;
            border: none;
            border-radius: 20px;
            padding: 5px;
        
            transition: all .5s;
        }
        > button:hover {
            color: black;
            background-color: #0cdfae;
            box-shadow: 0 3px #515151;
            transform: translateY(3px);
    
            cursor: pointer;
        }
        > p {
            color: white;
            margin: 0;
            padding: 0;
    
            > a {
                color: aquamarine;
                text-decoration: none;
            }
            > a:focus {
                color: #002200;
            }
        }
    }
}

@keyframes move-squares {
    25% {
        transform: translateY(50px);
    }
    50% {
        transform: translate(-25px, 15px);
    }
    75% {
        transform: translateX(40px);
    }
    to {
        transform: translateX(-25px);
    }
}

#bg-image {
    position: fixed;
    /* background-image: url("images/HuangHe.jpg"); */
    background-size: cover;
    
    z-index: -10;
}

/* Блок регистрации */
#reg-block{
    --bg-color: #3d5a8fac;
    position: relative;
    grid-column: 1 / -1;

    & h2 {
        color: white;
        text-decoration: underline;
    }

    > .pane {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        gap: 10px;
        width: 640px;
        color: white;
    
        margin: auto;
        margin-top: 60px;
        padding: 30px;
        border-radius: 20px;
        
        background-color: var(--bg-color);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);

        > .form-field {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);
            grid-template-areas: 
                "name surname"
                "email tel"
                "gender capcha"
                "about about";
            gap: 10px 30px;

            > span {
                display: flex;
                justify-content: right;
                gap: 10px;

                > input {
                    width: 65%;
                    border: none;
                    border-radius: 20px;
                    padding: 5px;
                    padding-left: 1em;
                }
            }

            > fieldset {
                width: fit-content;
                border-radius: 20px;
                border: 1px solid white;

                > legend {
                    text-align: center;
                }
            }

            > .gender {
                height: fit-content;
            }

            > .capcha {
                text-align: left;
                display: grid;
                grid-template-columns: 7em auto;
                grid-template-areas:
                        "info info"
                        "capcha input"
                        "message message";
                gap: 10px;

                > .info {
                    grid-area: info;
                }

                > .capcha-generator-block {
                    /* width: fit-content; */
                    background-color: wheat;
                    color: gray;
                    padding: 10px;
                    border-radius: 20px;

                    text-align: center;
                    font-family: monospace;
                    user-select: none;

                    grid-area: capcha;
                }

                > input {
                    min-width: 80px;
                    border: none;
                    border-radius: 20px;
                    padding: 5px;
                    padding-left: 1em;

                    grid-area: input;
                }

                > .message {
                    display: none;
                    color: red;
                    grid-area: message;
                }
            }

            > .about {
                grid-column: 1 / -1;
                grid-row: -2 / -1;

                > textarea {
                    margin-top: 5px;
                    width: calc(100% - 2em - 2px);
                    resize: none;
                    border: none;
                    border-radius: 20px;
                    padding-inline: 1em;
                }
            }

            & input, & textarea {
                transition: opacity .6s, 
                            background-color .6s,
                            transform .6s;
                opacity: 0.8;
            }

            & input:hover, & textarea:hover {
                opacity: 1;
            }

            & input:focus, & textarea:focus {
                background-color: #00f09e;
                outline: none;
                opacity: 1;

                transform: translateY(-3px);
            }
        }
    
        > button {
            margin: 0 auto;
            background-color: #00a2ff;
            color: white;
            box-shadow: 0 6px #515151;
            border: none;
            border-radius: 20px;
            padding: 8px 15px;
        
            transition: transform .5s,
                        color .5s,
                        background-color .5s,
                        box-shadow .5s;
        }
        > button:hover {
            color: black;
            background-color: #0cdfae;
            box-shadow: 0 3px #515151;
            transform: translateY(3px);
    
            cursor: pointer;
        }
        > button:disabled, > button:hover:disabled {
            /* transition: none; */
            transform: none;
            background-color: #63636366;
            color: #00000066;
            box-shadow: 0 6px #515151;
            cursor: not-allowed;
        }
    }
}

/* Фотокарточки (1) */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
    padding-left: 10px;

    background-color: #0e1118;
}
  .wrapper .box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 50px;
    transition: 0.5s;
  
}
  /* look of the tile */
  .wrapper .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    
}
  /* look of the blur around tiles */
  .wrapper .box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;
    
  }
  /* look after hover */
  .wrapper .box:hover:before,
  .wrapper .box:hover:after{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100%-90px);
    
  }
  /* colors for each tile */
  .wrapper .box:nth-child(1):before,
  .wrapper .box:nth-child(1):after{
    background: linear-gradient(315deg, #ffbc00, #ff0058)
  }
  .wrapper .box:nth-child(2):before,
  .wrapper .box:nth-child(2):after{
    background: linear-gradient(315deg, #03a9f4, #ff0058)
  }
  .wrapper .box:nth-child(3):before,
  .wrapper .box:nth-child(3):after{
    background: linear-gradient(315deg, #4dff03, #00d0ff)
  }
  .wrapper .box span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; 
  }
  .wrapper .box span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s linear infinite;
  }
  /* size and position of first on hover rect */
  .wrapper .box:hover span::before{
    top: -35px;
    left: 35px;
    width: 85px;
    height: 85px;
    opacity: 1;
    
  }
  /* size and position of second on hover rect */
  .wrapper .box span::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s linear infinite;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    animation-delay: -1s;
    
  }
  
  .wrapper .box:hover span::after{
    bottom: -35px;
    right: 100px;
    width: 85px;
    height: 85px;
    opacity: 1;
  
  }
  /* animation to make on-hover tiles float */
  @keyframes animate{
    0%, 100% {
      transform: translateY(10px);
    }
    50%{
      transform: translateY(-10px);
    }
  }
  /* position of box with content */
  .wrapper .box .content {
    position: relative;
    left: -20px;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: 0.5s;
    z-index: 1;
    color: #fff;
  /*   display: none; */
  }
  .wrapper .box:hover .content{
    left: -60px;
  }
  .wrapper .box .content h2{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
  }
  .wrapper .box .content p{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
  }
  .wrapper .box .content a {
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 5px;
}

/* Фотокарточки (4) */
.cards-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    background: linear-gradient(36deg, #ffd300 4%, #b800ff 100%);

    pointer-events: none;
}

.cards-2 .card {
    position: relative;
    width: 200px;
    /* height: 400px; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 30px;
    transition: 0.5s;

    overflow: hidden;

    background: white;
    box-shadow: 0px 5px 15px rgba(49, 49, 49, 0.312);
    padding: 20px;
    border-radius: 20px;

    pointer-events: auto;
}

.cards-2 .card:hover {
    transform: scale(1.1);
}

.cards-2:hover > .card:not(:hover) {
    filter: blur(10px);
}

.cards-2 .card:nth-child(1) a, 
.cards-2 .card:nth-child(1)::after {
    background-color: #ff9900;
}

.cards-2 .card:nth-child(2) a, 
.cards-2 .card:nth-child(2)::after {
    background-color: #ff0044;
}

.cards-2 .card:nth-child(3) a, 
.cards-2 .card:nth-child(3)::after {
    background-color: #aa00ff;
}

.cards-2 .card::after {
    content: "";
    position: absolute;
    top: -80px;
    width: 120%;
    height: 250px;

    border-radius: 50%;
}

.cards-2 .card h2 {
    font-size: 3em;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 100px;
    z-index: 1;
}

.cards-2 .card a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    border-radius: 30px;
}

/* Фотокарточки (5) */
.cards-3 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: #2b2b2b;

    pointer-events: none;

    > .card {
        width: 250px;
        background-color: #030022;
        padding: 2px;
        margin: 20px 20px;

        filter: brightness(90%);

        transition: all 0.5s;
        pointer-events: auto;
        overflow: hidden;

        > .content {
            /* opacity: 0; */
            --inline-padding: 10px;

            position: relative;
            width: calc(100% - var(--inline-padding) * 2);
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #0c002b;
            padding: 100px var(--inline-padding);
            z-index: 0;
            pointer-events: auto;

            > * {
                transition: all 0.5s;
            }

            > h2 {
                position: absolute;
                top: 130px;
                right: 0.5em;
                font-size: 35pt;
                opacity: 0.2;

                color: #0073ff;

                z-index: -1;
            }

            > h3 {
                color: gray;
            }

            > p {
                color: gray;
            }

            > a {
                background-color: white;
                text-decoration: none;
                color: black;
                padding: 5px;
            }
        }

        > .content::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: #251a41;

            z-index: -1;
        }
    }

    > .card::before, > .card::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 70%;

        opacity: 0;
        animation:  circle_rotation 7s linear infinite;
        transition: all 0.5s;

        z-index: -1;
    }

    > .card::before {
        top: -20%;
        left: 0;
        transform-origin: 100% 100%;
        background: linear-gradient(90deg, #0c002b 0%, #1b32ff 100%);
    }

    > .card::after {
        bottom: -20%;
        right: 0;
        transform-origin: 0% 0%;
        background: linear-gradient(-90deg, #0c002b 0%, #1b32ff 100%);
    }

    > .card:hover::before,
    > .card:hover::after {
        opacity: 1;
    }

    > .card:hover {
        filter: brightness(100%);

        > .content {
            > h2 {
                opacity: 1;
                top: 0.7em;
            }

            > h3, > p {
                color: white;
            }
        }
    }
}

@keyframes circle_rotation {
    from {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cards-3:hover > .card:not(:hover) {
    filter: brightness(50%);
    opacity: 0.8;
}


/* Список желаний */
#wishlist-main-block {
    flex-flow: column;
    grid-column: 1 / -1;

    & .points {
        margin: 0;
    }

    > .configs {
        position: sticky;
    }
    
    > .wishlist {
        > .item {
            position: relative;
    
            > .del-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                border-radius: 50%;
                background-color: #00000000;
                border: none;
                cursor: pointer;
    
                > img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
