#river-interface {
    > main {
        justify-content: space-between;
        flex-flow: row-reverse  nowrap;

        > #river-info {
            width: 300px;
            height: fit-content;
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            gap: 10px;

            --gradientBG: linear-gradient(135deg, #0067fe 0%, #00c9ff 80%);

            > h1 {
                text-align: center;
                margin: 0;
                background: var(--gradientBG);
            }

            > figure {
                display: flex;
                flex-flow: column nowrap;
                align-items: stretch;
                margin: 0;
            }

            & figcaption, caption {
                font-size: 14pt;
                background: var(--gradientBG);
                text-align: center;
                font-family: 'Lobster';
            }

            > .picture {
                margin: 0 auto;
                > img {
                    width: 100%;
                }
                
            }

            > table {
                width: 100%;
                border-collapse: collapse;
                border: 2px solid #0067fe;

                > thead {
                    color: white;
                    background-color: #0044ff;

                    & th {
                        border: none;
                    }
                }

                > tbody td {
                    border: none;
                    border-left: 1px solid white;
                    hyphens: auto;
                }

                > tbody td:nth-child(1) {
                    text-align: center;
                    font-weight: 700;
                }
                > tbody td:nth-child(2) {
                    text-align: center;
                }

                > tbody tr:nth-child(odd) {
                    background-color: #d7eaff;
                }
                  
                > tbody tr:nth-child(even) {
                    background-color: #eff5ff;
                }
            }
        }

        > #river-content {
            /* width: 0; Здесь что-то странное */
            width: min-content;
            flex-grow: 1;

            > .galery {

            }
        }
    }
}